.boxMain{
    width: 90%;
    height: 400px;
    margin: 35px;
    display: flex;
}
.boxDiv{
    position:absolute;
}
.box{
    width: 98%;
    height: 100%;
}
.btnDiv{
    width: 13%;
    height: 10%;
    position: relative;
    align-self:flex-end;
    margin-bottom: 5%;
    margin-left: 7%;
}
.btnDiv button {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #9c51e0;
    color: white;
    font-weight: 400;
    border-width: 0px;
    cursor: pointer;
}