.header{
    width: 100%;
    height: 50px;
    background: black;
    position: sticky; 
    top: 0; 
    display:block;
    z-index: 2;
}

.subHeader{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    flex: 1;
}

.home{
  width: 100%;
  height: 100%;
  background-color:black;
  display:flex;
  flex-direction: row;
  justify-content:baseline;
  align-items:center;
  margin-left: 30px;
  flex: 0.4;
}
.home .leftmenu{
  color: white;
  background-color: black;
  text-decoration: none;
  align-items: center;
  padding: 5px;
  margin: 30px;
  font: menu;
}

.logo{
    width: 100px;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex: 0.2;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color: black;
}
.logo .logoanchor{
  text-decoration: none;
  color: #fff;
}

.logo .logoimage{
  font-family: "Argesta Display Regular";
  font-weight: 100;
}

.rightMenu{
  height:50px;
  display:flex;
  flex: 0.4;
  justify-content:flex-end;
  align-items: center;
  background-color:black;
}
.cart {
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content:flex-end;
  margin: 0px;
  flex: 0.2;
}

.searchInputContainer {
    width: 100px;
    height: 30px;
    display: flex;
    margin: 0px 10px 5px 10px;
    background-color: black;
}
.searchIconContainer {
  width: 20px;
  height: 30px;
  display: inherit;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.searchInput {
    background-color: black;
    width: 90px;
    height: 34px;
    border: 0;
    outline: none;
    box-sizing:border-box;
    font-size: 18px;
    color:#fff;
    margin-top: 0px;
    font-family: "SF Pro";
    font-size: medium;
}


.loginButton {
  /* display:; */
  width: 30px;
  height: 30px;
  background: #fff;
  cursor: pointer;
  border-radius: 20px;
  margin-right: 25px;
  margin-left: -5px;
}

.loginimage{
  width: 30px;
  height: 30px;
  border-radius: 20px;
}
.more, .fullName {
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
  }

.authContainer{
  color: #212121;
  margin: 0 auto;
  border-radius: 2px;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}
.row{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 528px;
  max-width: 750px;
  min-width: 650px;
}

.leftspace{
  width: 40%;
  height: 100%;
  color: #fff;
  letter-spacing: 1px;
  background-image: url('../../images/data/signUp_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 33px;
  box-sizing: border-box;
}

.rightspace{
  display: flex;
  flex: 1;
  width: 60%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.loginInputContainer{
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 40px 0;
}