.main{
    width: 95%;
    height: 400px;
    margin: 35px;
    margin-bottom: 70px;
}
.title{
    height: 15%;
}
.title_txt{
    font-size: 30px;
    font-family: Barlow;
}
.view{
    margin-top: 15px;
    font-size: 15px;
    color: black;
    float: right;
    font-family: Barlow;
}
.contents{
    width: 100%;
    height: 85%;
}
.set{
    width: 225px;
    margin-left: 30px;
    cursor: pointer;
}