.main{
    width: 95%;
    height: 400px;
    margin: 35px;
    margin-bottom: 70px;
}
.title{
    height: 15%;
}
.title_txt{
    font-size: 30px;
    font-family: Barlow;
}
.view{
    margin-top: 15px;
    font-size: 15px;
    color: black;
    float: right;
    font-family: Barlow;
}
.contents{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}
.contents a{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.contents a img{
    border-radius: 20px;
}
.set{
    width: 225px;
    height: 250px;
    cursor: pointer;
}
.bestimg{
}