
.sliderBody{
  width: 100%;
  height: 600px;
}

.slider{
  position: relative;
  height: 550px;
  background-color: #f1f3f6;
}

.OO1{
  position: absolute;
  display: flex;
  width: 30%;
  height: 45%;
  object-fit:cover;
  margin-top: 140px;
  margin-left: -90px;
}
.bcTg{
  position: absolute;
  display: flex;
  width: 200px;
  height: 100%;
  object-fit:cover;
  margin-left: 900px;
}
.picMain{
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.slider .slide .data{
  position: absolute;
  display: flex;
  align-items: center;
  color: #222;
  background: rgba(255, 255, 255, 0.3);
  width: 25%;
  height: 100px;
  margin-top: 300px;
  margin-left: 80px;
  border-radius: 10px;
}

.slider .slide .data h2{
  font-size: 3em;
  font-weight: 800;
}
.slider .slide .group30{
  position: relative;
  display: flex;
  width: 150px;
  float: right;
  margin-top: 20%;
  margin-right: 15%;
}

.slider .slide .btn{
  position: absolute;
  align-items: center;
  display: flex;
  width: 10%;
  height: 8%;
  justify-content: center;
  margin-top: 420px;
  margin-left: 80px;
}
.slider .slide .btn button{
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #9c51e0;
  color: white;
  border-width: 0px;
  cursor: pointer;
}
.slider-arrow {
  position: absolute;
  border-width: 0px;
  z-index: 1;
  height: 7%;
  width: 97.8%;
  margin-top: 18%;
}

.arrow-btn {
  height: 0px;
  width: 0px;
  border-width: 0px;
}
.next {
  float: right;
}